{% extends "layout1.html" %}

{% block title %}
Bhavin's Mega Project
{% endblock %}

{% block content %}

<h1 class = "text-center text-white mt-4 fs-">Twiter Lite By Bhavin</h1>

<a class = "btn btn-primary mt-5" href="{% url 'tweet_create' %}">Create Tweet</a>
<div class="container row mt-3 gap-3">
        {% for tweet in tweets %}
        <div class="card" style="width: 18rem;">
                <img src="{{tweet.photo.url}}" class="card-img-top" alt="tweet-pix">
                <div class="card-body">
                  <h5 class="card-title">{{tweet.user.username}}</h5>
                  <p class="card-text">{{tweet.text}}</p>
                  {% if tweet.user == user %}
                  <a href="{% url 'tweet_edit' tweet_id=tweet.id %}" class="btn btn-primary">Edit</a>
                  <a href="{% url 'tweet_delete' tweet_id=tweet.id %}" class="btn btn-danger">Delete</a>
                  {% endif %}
                </div>
              </div>
        {% endfor %}
</div>

{% endblock %}